.puzzle {
	text-align: center;

	.wordContainer {
		display: inline-block;
		margin: 0 10px;

		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}

	.letterContainer {
		display: inline-block;
		width: 21px;
		height: 50px;
		margin: 10px 2px;

		vertical-align: top;

		text-align: center;
		text-transform: uppercase;

		.letter {
			&:not(.invalid) {
				border-bottom: 1px solid black;
			}
			&.invalid + .keyContainer {
				visibility: hidden;
			}
			.guess {
				width: 20px;
				height: 24px;
				padding: 0;
				border: 0;
				margin: 0;

				text-align: center;
				text-transform: uppercase;
			}
		}

		.key {
			width: 16px;
			height: 20px;
		}
	}
}

.status {
	.timer {
		text-align: left;
	}
	.score {
		text-align: right;
	}
}
